@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Readex Pro', sans-serif;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #f8f8ff;
}
#projects {
  background-color: #f8f8ff;
}
.bayangan {
  box-shadow: 5px 5px 5px 5px rgba(110, 29, 172, 0.2);
}
.bayangan-skill {
  box-shadow: 5px 5px 5px 5px rgba(24, 140, 194, 0.2);
}
.judulbesar {
  display: flex;
  box-shadow: 5px 5px 5px 5px rgba(24, 140, 194, 0.2);
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
}
.judulbesar-project {
  display: flex;
  box-shadow: 5px 5px 5px 5px rgba(110, 29, 172, 0.2);
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
}
.card-project:hover {
  transform: scale(1.1);
  width: 100%;
}
